<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="OldTigerConnectionString" connectionString="Data Source=48-VM0177-1\FHIDB;Initial Catalog=OLDTIGER;Persist Security Info=True;User ID=ebomadmin;Password=@Ebomadmin@"/> -->
    <!--<add name="OldTigerConnectionString" connectionString="server=localhost\SQLEXPRESS; user=tiger; password=oldtiger; database=OLDTIGER;"/>-->
    <add name="OldTigerConnectionString" connectionString="server=48-VM0177-1\FHIDB; user=sa; password=p@ssw0rd; database=OLDTIGER;" />
    <!--<add name="OldTigerConnectionString" connectionString="Data Source=48-PC0374-7\FHIDB; user=sa; password=sqladmin; database=OLDTIGER;"/> -->
    <!--<add name="OldTigerConnectionString" connectionString="server=Fgnt152; user=ebomadmin; password=@Ebomadmin@; database=OLDTIGER;" />-->
    <!--<add name="OldTigerConnectionString" connectionString="server=GKHSV16193\E_BOMDEVELOPENV; user=ebomadmin; password=@Ebomadmin@; database=OLDTIGER;" />-->
    <!--<add name="OldTigerConnectionString" connectionString="server=GKHSV16194\E_BOMTESTENV; user=ebomadmin; password=@Ebomadmin@; database=OLDTIGER;" />-->
  </connectionStrings>
  <appSettings>
    <!-- 以下はログ出力関連の設定値 -->
    <!-- エラーログ出力先フォルダ -->
    <add key="LogDir" value="/App_Data/log/" />
    <!-- エラーログファイル名 -->
    <add key="LogFile" value="OldTigerError.log" />
    <!-- デバッグログ出力先フォルダ -->
    <add key="DebugLogDir" value="/App_Data/log/" />
    <!-- デバッグログファイル名 -->
    <add key="DebugLogFile" value="OldTigerDebug.log" />
    <!-- デバッグフラグ  0:未出力 1～10まではレベルによって出力 -->
    <add key="DebugFlg" value="10" />
    <!-- デバッグフラグ  レベル未設定の場合に振られるレベル -->
    <add key="DebugDefaultFlg" value="9" />
    <!-- Excelテンプレートフォルダ名 -->
    <add key="ExcelTempDir" value="/App_Data/Template/" />
    <!-- Excelテンプレート・過去トラ -->
    <add key="KakotoraTemplate" value="Kakotora_Template.xltx" />
    <!-- Excelテンプレート・フォロー回答 -->
    <add key="FollowTemplate" value="Follow_Template.xltx" />
    <!-- 問合せ先メールアドレス BY -->
    <add key="MailAddrBY" value="gkh-cacotola@subaru.co.jp" />
    <!-- 問合せ先メールアドレス PU -->
    <add key="MailAddrPU" value="TKY-KAKOTORA@subaru.co.jp" />
    <!-- リンクメインフォルダパス -->
    <!--<add key="LinkForder" value="\\Fgnt07\pt\技本過去トラSYS\B_DATA\"/>-->
    <add key="LinkForder" value="\\48-VM0177-1\PDF\" />
    <!-- ヘルプ・ＴＯＰ用　表示先ファイルパス  20170403 ta_kanda 追加 -->
    <!--<add key="HelpTop" value="//Fgnt07/pt/技本過去トラSYS/C_OTHER/TOP/ＴＯＰマニュアル.pdf" />-->
    <add key="HelpTop" value="//48-vm0177-1/pdf/40_テスト/Z09011_cube.pdf" />
    <!-- Ｑ＆Ａ・ＴＯＰ用　表示先ファイルパス  20170403 ta_kanda 追加 -->
    <!--<add key="QaTop" value="//Fgnt07/pt/技本過去トラSYS/C_OTHER/TOP/よくあるご質問_ＴＯＰ.pdf" />-->
    <add key="QaTop" value="//48-vm0177-1/pdf/40_テスト/Z09012.pdf" />
    <!-- ヘルプ・過去トラ検索用　表示先ファイルパス -->
    <!--<add key="HelpSerch" value="//Fgnt07/pt/技本過去トラSYS/C_OTHER/過去トラ検索/検索マニュアル.pdf" />-->
    <add key="HelpSerch" value="//48-vm0177-1/pdf/40_テスト/Z09011.pdf" />
    <!-- Ｑ＆Ａ・過去トラ検索用　表示先ファイルパス -->
    <!--<add key="QaSerch" value="//Fgnt07/pt/技本過去トラSYS/C_OTHER/過去トラ検索/よくあるご質問_検索.pdf" />-->
    <add key="QaSerch" value="//48-vm0177-1/pdf/40_テスト/Z09012.pdf" />
    <!-- ヘルプ・FMC/mcフォロー用　表示先ファイルパス -->
    <!--<add key="HelpFollow" value="//Fgnt07/pt/技本過去トラSYS/C_OTHER/FMCｍｃ/FMCMCマニュアル.pdf"/>-->
    <add key="HelpFollow" value="//48-vm0177-1/pdf/40_テスト/Z09011.pdf" />
    <!-- Ｑ＆Ａ・FMC/mcフォロー用　表示先ファイルパス -->
    <!--<add key="QaFollow" value="//Fgnt07/pt/技本過去トラSYS/C_OTHER/FMCｍｃ/よくあるご質問_FMCＭＣ.pdf"/>-->
    <add key="QaFollow" value="//48-vm0177-1/pdf/40_テスト/Z09012.pdf" />
    <!-- 掲示板テキストフォルダパス(技本共通お知らせ) -->
    <add key="txtFileCommon" value="/App_Data/Bulletinboard/infoCommon.txt" />
    <!-- 掲示板テキストフォルダパス(トピックス群馬) -->
    <add key="txtFileTopicGunma" value="/App_Data/Bulletinboard/infoTopicGunma.txt" />
    <!-- 掲示板テキストフォルダパス(トピックス東京) -->
    <add key="txtFileTopicTokyo" value="/App_Data/Bulletinboard/infoTopicTokyo.txt" />
    <!-- 掲示板テキストフォルダパス(サンプル) -->
    <add key="txtSample" value="/App_Data/Bulletinboard/Sample.txt" />
    <!-- 掲示板NEWレコードアイコン表示日数-->
    <add key="bbNewDayCount" value="28" />
    <!-- 掲示板公開フラグ(技本共通お知らせ)-->
    <add key="commonDisplayflg" value="1" />
    <!-- 掲示板公開フラグ(トピックス群馬)-->
    <add key="topicGunmaDisplayflg" value="1" />
    <!-- 掲示板公開フラグ(トピックス東京)-->
    <add key="topicTokyoDisplayflg" value="1" />
    <!-- 掲示板非公開時用コメント -->
    <add key="nonDispMessage" value="現在、メンテナンス中" />
    <!-- 背景変更フォルダパス -->
    <add key="fldChangeImage" value="/App_Data/ChangeImage" />
    <!-- 背景ファイル -->
    <add key="fileImages" value="/Images/TOP_Image.png" />
    <!-- APIサーバーパス -->
    <!--<add key="ApiUri" value="mms2017testapi.gkh.auto3.subaru.net" />-->
    <add key="ApiUri" value="localhost:50562" />
    <!-- 設通サブシステム　リンクパス -->
    <add key="EcsSubSysPath" value="zumen-settu.gkh.subaru-fhi.co.jp:122/FHI/ZSCL70GKH2?" />
    <!-- BRAVA　サーバーパス -->
    <!--<add key="Brava" value="cacotola.gkh.auto3.subaru.net:8081" />-->
    <add key="Brava" value="172.27.158.65:8080" />
    <!-- ユーザーエントリテンプレート　フォルダパス -->
    <!--<add key="UserEntryFormatPath" value="//Fgnt07/pt/技本過去トラSYS/C_OTHER/TOP/アクセス権設定/"/>-->
    <add key="UserEntryFormatPath" value="C:/CEC-WORK/" />
    <!-- ユーザーエントリテンプレート　ファイル名称 -->
    <add key="UserEntryFormat" value="プロパ用_過去トラＳＹＳアクセス権申請書.xlsx" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <!-- <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/"/>
    </authentication>-->
    <authentication mode="Windows" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <!-- KATO/CEC ADD START 2016/08/22 -->
  <location path="frmTopPage.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <!-- KATO/CEC ADD END 2016/08/22 -->
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCompression="false" enableCaching="true" />
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>